/*--------------------------------------------------- PRESET CSS -------------------------------------------------------------------------------------------*/
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
body {
 background-color:$BGColor1[#4e4744];
 background-image:$BGImage1[none];
 background-position:$BGPosition1[0 0];
 background-repeat:$BGRepeat1[no-repeat];
 background-attachment:$BGAttachment1[scroll];
 background-size:$BGSize1[auto];
 font-family:$BodyFontFamily[Arial, Helvetica, sans-serif];
 font-size:$BodyFontSize[12px];
 color:$BodyTextColor[#727272];
}
h1 {
font-family:$BodyH1FontFamily[Georgia, "Times New Roman", Times, serif];
font-size:$BodyH1FontSize[24px];
color:$BodyH1TextColor[#ffffff];
}
h2 {
font-family:$BodyH2FontFamily[Georgia, "Times New Roman", Times, serif];
font-size:$BodyH2FontSize[22px];
color:$BodyH2TextColor[#ffffff];
}
h3 {
font-family:$BodyH3FontFamily[Georgia, "Times New Roman", Times, serif];
font-size:$BodyH3FontSize[20px];
color:$BodyH3TextColor[#ffffff];
}
h4 {
font-family:$BodyH4FontFamily[Georgia, "Times New Roman", Times, serif];
font-size:$BodyH4FontSize[18px];
color:$BodyH4TextColor[#ffffff];
}
h5 {
font-family:$BodyH5FontFamily[Georgia, "Times New Roman", Times, serif];
font-size:$BodyH5FontSize[16px];
color:$BodyH5TextColor[#ffffff];
}
h6 {
font-family:$BodyH6FontFamily[Georgia, "Times New Roman", Times, serif];
font-size:$BodyH6FontSize[14px];
color:$BodyH6TextColor[#ffffff];
}
a {
 text-decoration:$BodyATextDecoration[none];
color:$BodyAColor[#ff6d19];
}
a:hover {
text-decoration:$BodyAHoverTextDecoration[none];
color:$BodyAHoverColor[#ff6d19];
}
a img {
    border: 0 solid;
}
:focus {
    outline: none;
}
p {
    line-height: 1.4;
}
ul, ol {
    margin: 0;
    padding: 0 0 0 20px;
    list-style-image: url(images/list-style-image.png);
}
li {
    margin: 0;
    padding: 0 0 10px;
}
ol {
    list-style-image: none;
    padding-left: 23px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
 font-family:$BodyTHFontFamily[Arial, Helvetica, sans-serif];
 font-size:$BodyTHFontSize[12px];
 background:$BodyTHBGColor[#363535];
 border-width:$BodyTHBorderWidth[1px];
 border-style:$BodyTHBorderStyle[solid];
 border-color:$BodyTHBorderColor[#484545];
 color:$BodyTHTextColor[#BABABA];
 padding:$BodyTHCellSpaceing[6px];
}
td {
 font-family:$BodyTDFontFamily[Arial, Helvetica, sans-serif];
 font-size:$BodyTDFontSize[12px];
 background:$BodyTDBGColor[transparent];
 border-width:$BodyTDBorderWidth[1px];
 border-style:$BodyTDBorderStyle[solid];
 border-color:$BodyTDBorderColor[#484545];
 color:$BodyTDTextColor[#727272];
 padding:$BodyTDCellSpaceing[6px];
}
hr {
    border-top: 1px solid #484545
}
/*------------------------------------------------------------------ COMMON USAGE CSS ---------------------------------------------------------------------------*/
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.page-width {
    width: 880px;
    margin: 0 auto;
}
.clearDiv {
    clear: both;
}
/*------------------------------------------------------------------ LEFT AREA CSS ---------------------------------------------------------------------------*/
.leftArea {
    width: 666px;
}
.leftAreaInner {
 background-color:$ContentBGColor[#191919];
 background-image:$ContentBGImage[url(images/leftBg.png)];
 background-position:$ContentBGPosition[0 0];
 background-repeat:$ContentBGRepeat[no-repeat];
 background-attachment:$ContentBGAttachment[scroll];
 background-size:$ContentBGSize[auto];
 box-shadow: $ContentBoxOuterShadowXaxis[0px] $ContentBoxOuterShadowYaxis[0px] $ContentBoxOuterShadowBlur[0px] $ContentBoxOuterShadowSpread[0px] $ContentBoxOuterShadowColor[transparent], $ContentBoxInnerShadowXaxis[0px] $ContentBoxInnerShadowYaxis[0px] $ContentBoxInnerShadowBlur[0px] $ContentBoxInnerShadowSpread[0px] $ContentBoxInnerShadowColor[transparent] inset;
 -webkit-box-shadow: $ContentBoxOuterShadowXaxis[0px] $ContentBoxOuterShadowYaxis[0px] $ContentBoxOuterShadowBlur[0px] $ContentBoxOuterShadowSpread[0px] $ContentBoxOuterShadowColor[transparent], $ContentBoxInnerShadowXaxis[0px] $ContentBoxInnerShadowYaxis[0px] $ContentBoxInnerShadowBlur[0px] $ContentBoxInnerShadowSpread[0px] $ContentBoxInnerShadowColor[transparent] inset;
 -moz-box-shadow: $ContentBoxOuterShadowXaxis[0px] $ContentBoxOuterShadowYaxis[0px] $ContentBoxOuterShadowBlur[0px] $ContentBoxOuterShadowSpread[0px] $ContentBoxOuterShadowColor[transparent], $ContentBoxInnerShadowXaxis[0px] $ContentBoxInnerShadowYaxis[0px] $ContentBoxInnerShadowBlur[0px] $ContentBoxInnerShadowSpread[0px] $ContentBoxInnerShadowColor[transparent] inset;
 -o-box-shadow: $ContentBoxOuterShadowXaxis[0px] $ContentBoxOuterShadowYaxis[0px] $ContentBoxOuterShadowBlur[0px] $ContentBoxOuterShadowSpread[0px] $ContentBoxOuterShadowColor[transparent], $ContentBoxInnerShadowXaxis[0px] $ContentBoxInnerShadowYaxis[0px] $ContentBoxInnerShadowBlur[0px] $ContentBoxInnerShadowSpread[0px] $ContentBoxInnerShadowColor[transparent] inset;
 border-width: $ContentBorderWidth[0 1px];
 border-style:$ContentBorderStyle[solid];
 border-color:$ContentBorderColor[#5b5554];
 border-radius: $ContentBorderRadius[0];
 -moz-border-radius:$ContentBorderRadius[0];
 -webkit-border-radius:$ContentBorderRadius[0];
 -o-border-radius:$ContentBorderRadius[0];
    padding: 10px 25px 25px;
}
/*------------------------------------------------------------------ TOP AREA CSS ---------------------------------------------------------------------------*/
.themeBrandingArea {
    padding: 40px 0 30px;
    border-bottom: 1px solid #474747;
    margin-bottom: 25px;
}
.themeBrandingContainer {
    display: table;
    border: 0 solid;
    width: 100%;
}
.tableRow {
    display: table-row;
}
.tableCell {
    display: table-cell
}
.themeLogoOuterContainer {
    width: 1%;
}
.themeLogoArea {
    padding-right: 20px;
}
.themeSitenameCaptionOuterContainer {
    vertical-align: middle;
    height: 100%
}
.themeSitenameCaptionInnerContainer {
    height: 100%;
    padding: 0
}
.themeSitenameCaptionContainer {
    vertical-align: middle;
    height: 100%;
}
.themeSitename {
    white-space: nowrap;
 font-size:$SiteNameFontSize[30px];
 font-family:$SiteNameFontFamily[ Georgia, "Times New Roman", Times, serif];
 color:$SiteNameTextColor[#ff6d19];
    letter-spacing: -1px;
}
.themeCaption {
    white-space: nowrap;
 font-size:$CaptionFontSize[14px];
 color:$CaptionTextColor[#828282];
 font-family:$CaptionFontFamily[ Georgia, "Times New Roman", Times, serif];
}
.logoArea {
    margin-right: 20px;
}
.sitenameArea {
    display: table;
    height: 90px;
    overflow: hidden;
}
.sitenameAreaInner {
    display: table-cell;
    vertical-align: middle;
}
.sitenameAreaInner h1 {
 font-size:$SiteNameFontSize[30px];
 font-family:$SiteNameFontFamily[ Georgia, "Times New Roman", Times, serif];
    width: 500px;
 color:$SiteNameTextColor[#ff6d19];
    overflow: hidden;
    word-wrap: break-word;
    letter-spacing: -1px;
    height: 35px;
}
.sitenameAreaInner h5 {
 font-size:$CaptionFontSize[14px];
    width: 500px;
 color:$CaptionTextColor[#828282];
 font-family:$CaptionFontFamily[ Georgia, "Times New Roman", Times, serif];
    overflow: hidden;
    word-wrap: break-word;
    height: 20px;
}
.banner {
    margin-bottom: 25px;
}
.banner img {
    display: block;
}
/*------------------------------------------------------------------ CONTENT AREA CSS ---------------------------------------------------------------------------*/
.contentArea {
    min-height: 400px;
    height: auto !important;
    height: 400px;
}
.breadcrumb {
    color: #FFF;
    margin-bottom: 25px;
    border-bottom: 1px dotted #484545;
    padding: 5px 0;
}
.breadcrumb p {
    word-wrap: break-word;
}
.breadcrumb span {
    padding: 0 10px;
}
/*------------------------------------------------------------------ RIGHT AREA CSS ---------------------------------------------------------------------------*/
.rightArea {
    width: 174px;
    margin: 0 20px;
}
/*------------------------------------------------------------------ SIDEBAR AREA CSS ---------------------------------------------------------------------------*/
.sidebarArea {
 background-color:$SidebarBGColor[transparent];
 background-image:$SidebarBGImage[none];
 background-position:$SidebarBGPosition[0 0];
 background-repeat:$SidebarBGRepeat[no-repeat];
 background-attachment:$SidebarBGAttachment[scroll];
 background-size:$SidebarBGSize[auto];
 box-shadow: $SidebarBoxOuterShadowXaxis[0px] $SidebarBoxOuterShadowYaxis[0px] $SidebarBoxOuterShadowBlur[0px] $SidebarBoxOuterShadowSpread[0px] $SidebarBoxOuterShadowColor[transparent], $SidebarBoxInnerShadowXaxis[0px] $SidebarBoxInnerShadowYaxis[0px] $SidebarBoxInnerShadowBlur[0] $SidebarBoxInnerShadowSpread[0] $SidebarBoxInnerShadowColor[transparent] inset;
 -webkit-box-shadow: $SidebarBoxOuterShadowXaxis[0px] $SidebarBoxOuterShadowYaxis[0px] $SidebarBoxOuterShadowBlur[0px] $SidebarBoxOuterShadowSpread[0px] $SidebarBoxOuterShadowColor[transparent], $SidebarBoxInnerShadowXaxis[0px] $SidebarBoxInnerShadowYaxis[0px] $SidebarBoxInnerShadowBlur[0] $SidebarBoxInnerShadowSpread[0] $SidebarBoxInnerShadowColor[transparent] inset;
 -moz-box-shadow: $SidebarBoxOuterShadowXaxis[0px] $SidebarBoxOuterShadowYaxis[0px] $SidebarBoxOuterShadowBlur[0px] $SidebarBoxOuterShadowSpread[0px] $SidebarBoxOuterShadowColor[transparent], $SidebarBoxInnerShadowXaxis[0px] $SidebarBoxInnerShadowYaxis[0px] $SidebarBoxInnerShadowBlur[0] $SidebarBoxInnerShadowSpread[0] $SidebarBoxInnerShadowColor[transparent] inset;
 -o-box-shadow: $SidebarBoxOuterShadowXaxis[0px] $SidebarBoxOuterShadowYaxis[0px] $SidebarBoxOuterShadowBlur[0px] $SidebarBoxOuterShadowSpread[0px] $SidebarBoxOuterShadowColor[transparent], $SidebarBoxInnerShadowXaxis[0px] $SidebarBoxInnerShadowYaxis[0px] $SidebarBoxInnerShadowBlur[0] $SidebarBoxInnerShadowSpread[0] $SidebarBoxInnerShadowColor[transparent] inset;
 border-width: $SidebarBorderWidth[0];
 border-style:$SidebarBorderStyle[none];
 border-color:$SidebarBorderColor[transparent];
 border-radius: $SidebarBorderRadius[0];
 -moz-border-radius:$SidebarBorderRadius[0];
 -webkit-border-radius:$SidebarBorderRadius[0];
 -o-border-radius:$SidebarBorderRadius[0];
 font-family:$SidebarFontFamily[Georgia, "Times New Roman", Times, serif];
 color:$SidebarTextColor[#92847d];
 font-size:$SidebarFontSize[12px];
    margin: 40px 0 0;
    min-height: 250px;
    height: auto !important;
    height: 250px;
}
.sidebarArea h1 {
 font-family:$SidebarH1FontFamily[Georgia, "Times New Roman", Times, serif];
 font-size:$SidebarH1FontSize[24px];
 color:$SidebarH1TextColor[#ff6d19];
}
.sidebarArea h2 {
 font-family:$SidebarH2FontFamily[Georgia, "Times New Roman", Times, serif];
 font-size:$SidebarH2FontSize[22px];
 color:$SidebarH2TextColor[#ff6d19];
}
.sidebarArea h3 {
 font-family:$SidebarH3FontFamily[Georgia, "Times New Roman", Times, serif];
 font-size:$SidebarH3FontSize[20px];
 color:$SidebarH3TextColor[#ff6d19];
}
.sidebarArea h4 {
 font-family:$SidebarH4FontFamily[Georgia, "Times New Roman", Times, serif];
 font-size:$SidebarH4FontSize[18px];
 color:$SidebarH4TextColor[#ff6d19];
}
.sidebarArea h5 {
 font-family:$SidebarH5FontFamily[Georgia, "Times New Roman", Times, serif];
 font-size:$SidebarH5FontSize[16px];
 color:$SidebarH5TextColor[#ff6d19];
}
.sidebarArea h6 {
 font-family:$SidebarH6FontFamily[Georgia, "Times New Roman", Times, serif];
 font-size:$SidebarH6FontSize[14px];
 color:$SidebarH6TextColor[#ff6d19];
}
.sidebarArea a {
 text-decoration:$SidebarATextDecoration[none];
 color:$SidebarAColor[#ff6d19];
}
.sidebarArea a:hover {
 text-decoration:$SidebarAHoverTextDecoration[none];
 color:$SidebarAHoverColor[#ff6d19];
}
.sidebarArea form li span input[type=text], .sidebarArea form li span textarea, .sidebarArea form li span select {
 font-family:$SidebarFontFamily[Georgia, "Times New Roman", Times, serif];
 font-size:$SidebarFontSize[12px];
 color:$SidebarTextColor[#92847d];
    width: 125px;
    border: 1px solid #615C59;
    background: #5F5753;
}
.sidebarArea form li input[type=submit], .sidebarArea form li input[type=reset] {
font-family:$SidebarFontFamily[Georgia, "Times New Roman", Times, serif]
}
.sidebarArea form li span select {
    width: 138px;
}
.sidebarArea form li span textarea {
    height: 70px;
}
.sidebarArea form li {
    padding: 10px 0 0;
}
.sidebarArea hr {
    border-top-color: #6B5E5E;
}
.sidebarArea form ul li label, .sidebarArea form ul li div {
    width: auto;
    float: none;
    padding: 5px 0;
}
.sidebarArea .newsletter-input-field {
    width:150px;
    border: 1px solid #615C59;
    background: #5F5753;
    color:#92847d;
}
.sidebarArea .newsletter-form input[type="text"]::-moz-placeholder {
    color:#92847d;
}
.sidebarArea .newsletter-form  input[type="text"]::-webkit-input-placeholder{
    color:#92847d;
}
.sidebarArea .newsletter-form  input[type="text"]:-ms-input-placeholder {
    color:#92847d;
}
.sidebarArea .newsletter-layout-3 .newsletter-form {
    width: 150px;
}

.sidebarArea .zs-tabs-accordion-content .newsletter-input-field {
    width:130px;
    background: #47423F;
}
.sidebarArea .zs-tabs-accordion-content .newsletter-layout-3 .newsletter-form {
    width: 130px;
}
.sidebarArea h3.newsletter-heading {
    color:#FF6D19;
}
.sidebarArea .newsletter-desc {
    color:#92847D;
}
.sidebarArea th {
 font-family:$SidebarTHFontFamily[Arial, Helvetica, sans-serif];
 font-size:$SidebarTHFontSize[12px];
 background:$SidebarTHBGColor[#433D3A];
 border-width:$SidebarTHBorderWidth[1px];
 border-style:$SidebarTHBorderStyle[solid];
 border-color:$SidebarTHBorderColor[#3E3936];
 color:$SidebarTHTextColor[#BABABA];
 padding:$SidebarTHCellSpaceing[6px];
}
.sidebarArea td {
 font-family:$SidebarTDFontFamily[Arial, Helvetica, sans-serif];
 font-size:$SidebarTDFontSize[12px];
 background:$SidebarTDBGColor[transparent];
 border-width:$SidebarTDBorderWidth[1px];
 border-style:$SidebarTDBorderStyle[solid];
 border-color:$SidebarTDBorderColor[#3E3936];
 color:$SidebarTDTextColor[#727272];
 padding:$SidebarTDCellSpaceing[6px];
}
.sidebarArea .zs-highlight-box {
 background-color: $SidebarHighlightBoxBGColor[#fee79b];
 background-image: $SidebarHighlightBoxBGImage[none];
 background-image: $SidebarHighlightBoxBGImage[none], -moz-linear-gradient($SidebarHighlightBoxGradientDirection[bottom], $SidebarHighlightBoxGradientStartColor[transparent], $SidebarHighlightBoxGradientEndColor[transparent]);
 background-image: $SidebarHighlightBoxBGImage[none], -webkit-linear-gradient($SidebarHighlightBoxGradientDirection[bottom], $SidebarHighlightBoxGradientStartColor[transparent], $SidebarHighlightBoxGradientEndColor[transparent]);
 background-image: $SidebarHighlightBoxBGImage[none], -o-linear-gradient($SidebarHighlightBoxGradientDirection[bottom], $SidebarHighlightBoxGradientStartColor[transparent], $SidebarHighlightBoxGradientEndColor[transparent]);
 background-position: $SidebarHighlightBoxBGPosition[top left];
 background-repeat: $SidebarHighlightBoxBGRepeat[no-repeat];
 box-shadow: $SidebarHighlightBoxOuterXaxis[0px] $SidebarHighlightBoxOuterYaxis[0px] $SidebarHighlightBoxOuterBlur[0] $SidebarHighlightBoxOuterSpread[0px] $SidebarHighlightBoxOuterShadowColor[transparent], $SidebarHighlightBoxInnerXaxis[0px] $SidebarHighlightBoxInnerYaxis[0px] $SidebarHighlightBoxInnerBlur[0px] $SidebarHighlightBoxInnerSpread[6px] $SidebarHighlightBoxInnerShadowColor[#20252e] inset;
 -moz-box-shadow: $SidebarHighlightBoxOuterXaxis[0px] $SidebarHighlightBoxOuterYaxis[0px] $SidebarHighlightBoxOuterBlur[0] $SidebarHighlightBoxOuterSpread[0px] $SidebarHighlightBoxOuterShadowColor[transparent], $SidebarHighlightBoxInnerXaxis[0px] $SidebarHighlightBoxInnerYaxis[0px] $SidebarHighlightBoxInnerBlur[0px] $SidebarHighlightBoxInnerSpread[6px] $SidebarHighlightBoxInnerShadowColor[#20252e] inset;
 -webkit-box-shadow: $SidebarHighlightBoxOuterXaxis[0px] $SidebarHighlightBoxOuterYaxis[0px] $SidebarHighlightBoxOuterBlur[0] $SidebarHighlightBoxOuterSpread[0px] $SidebarHighlightBoxOuterShadowColor[transparent], $SidebarHighlightBoxInnerXaxis[0px] $SidebarHighlightBoxInnerYaxis[0px] $SidebarHighlightBoxInnerBlur[0px] $SidebarHighlightBoxInnerSpread[6px] $SidebarHighlightBoxInnerShadowColor[#20252e] inset;
 -o-box-shadow: $SidebarHighlightBoxOuterXaxis[0px] $SidebarHighlightBoxOuterYaxis[0px] $SidebarHighlightBoxOuterBlur[0] $SidebarHighlightBoxOuterSpread[0px] $SidebarHighlightBoxOuterShadowColor[transparent], $SidebarHighlightBoxInnerXaxis[0px] $SidebarHighlightBoxInnerYaxis[0px] $SidebarHighlightBoxInnerBlur[0px] $SidebarHighlightBoxInnerSpread[6px] $SidebarHighlightBoxInnerShadowColor[#20252e] inset;
 border-width: $SidebarHighlightBoxBorderWidth[1px];
 border-style:$SidebarHighlightBoxBorderStyle[solid];
 border-color:$SidebarHighlightBoxBorderColor[#000000];
 border-radius: $SidebarHighlightBoxBorderRadius[0];
 -moz-border-radius:$SidebarHighlightBoxBorderRadius[0];
 -webkit-border-radius:$SidebarHighlightBoxBorderRadius[0];
 -o-border-radius:$SidebarHighlightBoxBorderRadius[0];
 padding: $SidebarHighlightBoxInnerSpace[10px];
 margin: $SidebarHighlightBoxOuterSpace[0];
    min-height: 210px;
font-family:$SidebarHighlightBoxFontFamily[Georgia, "Times New Roman", Times, serif];
 color:$SidebarHighlightBoxTextColor[#8f5e1e];
 font-size:$SidebarHighlightBoxFontSize[12px];
}
.sidebarArea .zs-highlight-box h1 {
 font-family:$SidebarHighlightBoxH1FontFamily[Georgia, "Times New Roman", Times, serif];
 font-size:$SidebarHighlightBoxH1FontSize[24px];
 color:$SidebarHighlightBoxH1TextColor[#ff6b16];
}
.sidebarArea .zs-highlight-box h2 {
 font-family:$SidebarHighlightBoxH2FontFamily[Georgia, "Times New Roman", Times, serif];
 font-size:$SidebarHighlightBoxH2FontSize[22px];
 color:$SidebarHighlightBoxH2TextColor[#ff6b16];
}
.sidebarArea .zs-highlight-box h3 {
 font-family:$SidebarHighlightBoxH3FontFamily[Georgia, "Times New Roman", Times, serif];
 font-size:$SidebarHighlightBoxH3FontSize[20px];
 color:$SidebarHighlightBoxH3TextColor[#ff6b16];
}
.sidebarArea .zs-highlight-box h4 {
 font-family:$SidebarHighlightBoxH4FontFamily[Georgia, "Times New Roman", Times, serif];
 font-size:$SidebarHighlightBoxH4FontSize[18px];
 color:$SidebarHighlightBoxH4TextColor[#ff6b16];
}
.sidebarArea .zs-highlight-box h5 {
 font-family:$SidebarHighlightBoxH5FontFamily[Georgia, "Times New Roman", Times, serif];
 font-size:$SidebarHighlightBoxH5FontSize[16px];
 color:$SidebarHighlightBoxH5TextColor[#ff6b16];
}
.sidebarArea .zs-highlight-box h6 {
 font-family:$SidebarHighlightBoxH6FontFamily[Georgia, "Times New Roman", Times, serif];
 font-size:$SidebarHighlightBoxH6FontSize[14px];
 color:$SidebarHighlightBoxH6TextColor[#ff6b16];
}
.sidebarArea .zs-highlight-box a {
 text-decoration:$SidebarHighlightBoxATextDecoration[none];
 color:$SidebarHighlightBoxAColor[#ff6b16];
}
.sidebarArea .zs-highlight-box a:hover {
 text-decoration:$SidebarHighlightBoxAHoverTextDecoration[none];
 color:$SidebarHighlightBoxAHoverColor[#ff6b16];
}
.sidebarArea .zs-highlight-box form li span input[type=text], .sidebarArea .zs-highlight-box form li span textarea, .sidebarArea .zs-highlight-box form li span select {
    width: 100px;
    border: 1px solid #F3DA86;
    background: #FFDE6F;
 color:$SidebarHighlightBoxTextColor[#8f5e1e];
}
.sidebarArea .zs-highlight-box form li span select {
    width: 113px;
}
.sidebarArea .zs-highlight-box .newsletter-input-field {
    width:125px;
    background: #FFDE6F;
    border: 1px solid #F3DA86;
    color: #8f5e1e;
}
.sidebarArea .zs-highlight-box .newsletter-form input[type="text"]::-moz-placeholder {
    color:#8f5e1e;
}
.sidebarArea .zs-highlight-box .newsletter-form  input[type="text"]::-webkit-input-placeholder{
    color:#8f5e1e;
}
.sidebarArea .zs-highlight-box .newsletter-form  input[type="text"]:-ms-input-placeholder {
    color:#8f5e1e;
}
.sidebarArea .zs-highlight-box .newsletter-layout-3 .newsletter-form {
    width: 125px;
}
.sidebarArea .zs-highlight-box th {
 font-family:$SidebarHighlightBoxTHFontFamily[Arial, Helvetica, sans-serif];
 font-size:$SidebarHighlightBoxTHFontSize[12px];
 background:$SidebarHighlightBoxTHBGColor[#FDD757];
 border-width:$SidebarHighlightBoxTHBorderWidth[1px];
 border-style:$SidebarHighlightBoxTHBorderStyle[solid];
 border-color:$SidebarHighlightBoxTHBorderColor[#FFDE6F];
 color:$SidebarHighlightBoxTHTextColor[#8f5e1e];
 padding:$SidebarHighlightBoxTHCellSpaceing[6px];
}
.sidebarArea .zs-highlight-box td {
 font-family:$SidebarHighlightBoxTDFontFamily[Arial, Helvetica, sans-serif];
 font-size:$SidebarHighlightBoxTDFontSize[12px];
 background:$SidebarHighlightBoxTDBGColor[transparent];
 border-width:$SidebarHighlightBoxTDBorderWidth[1px];
 border-style:$SidebarHighlightBoxTDBorderStyle[solid];
 border-color:$SidebarHighlightBoxTDBorderColor[#FFDE6F];
 color:$SidebarHighlightBoxTDTextColor[#8f5e1e];
 padding:$SidebarHighlightBoxTDCellSpaceing[6px];
}
.sidebarArea .zs-highlight-box hr {
    border-top-color: #E9CB67;
}
.sidebarArea .zs-highlight-box h3.newsletter-heading {
    color:#FF6D19;
}
.sidebarArea .zs-highlight-box .newsletter-desc {
    color:#8F5E1E;
}
/*-----------------------------------    TEXT HIGHLIGHT CSS    -----------------------------------------------*/
.sidebarArea .zs-text-light-color {
color:$SidebarTextLightColor[#6A6461]
}
.sidebarArea .zs-text-highlight-color {
color:$SidebarTextHighlightColor[#FF6D19]
}
.sidebarArea .zs-highlight-box .zs-text-light-color {
color:$SidebarHighlightBoxTextLightColor[#6A6461]
}
.sidebarArea .zs-highlight-box .zs-text-highlight-color {
color:$SidebarHighlightBoxTextHighlightColor[#ff6b16]
}
/*--------------------- THEME SIDEBAR TABS ACCORDION AREA CSS ---------------------*/
.sidebarArea .zs-tabs ul, .sidebarArea .zs-highlight-box .zs-tabs ul {
    list-style: none;
    float: left;
    padding: 0px;
    width: 100%;
    display: none;
    margin: 0;
    border-bottom: 1px solid #676362;
    border-left: 1px solid #676362;
}
.sidebarArea .zs-tabs ul li, .sidebarArea .zs-highlight-box .zs-tabs ul li {
    margin: 0px;
    float: left;
    padding: 0px;
}
.sidebarArea .zs-tabs ul li div, .sidebarArea .zs-highlight-box .zs-tabs ul li div {
    background: #191919;
    padding: 0 25px;
    color: #918a7b;
    position: relative;
    margin: 0 0 -1px;
    line-height: 3;
    display: block;
    cursor: pointer;
    border-right: 1px solid #676362;
    border-top: 1px solid #676362;
    border-bottom: 1px solid #676362;
}
.sidebarArea .zs-tabs ul li.selected div, .sidebarArea .zs-highlight-box .zs-tabs ul li.selected div {
    background: #5B5554;
    color: #FF6D19;
    border-bottom: 1px solid #5B5554;
}
.sidebarArea .zs-tabs-accordion-content, .sidebarArea .zs-highlight-box .zs-tabs-accordion-content {
    clear: both;
    border: 1px solid #676362;
    padding: 10px;
    display: block;
    color: #92847d;
    margin: 3px 0;
    background: #5B5554;
    margin-bottom: 3px;
    min-height: 70px;
    height: auto !important;
    height: 70px;
}
.sidebarArea .zs-accordion, .sidebarArea .zs-highlight-box .zs-accordion {
    background: #191919;
    color: #918a7b;
    padding: 12px 10px;
    cursor: pointer;
    border: 1px solid #676362;
    margin-bottom: 2px;
    display: block;
}
.sidebarArea .zs-accordion.selected, .sidebarArea .zs-highlight-box .zs-accordion.selected {
    background: #FF6D19;
    color: #FFFFFF;
    border: 0px;
    margin-bottom: 0;
}
.sidebarArea .zs-tabs-accordion-content form li input[type="submit"], .sidebarArea .zs-tabs-accordion-content form li input[type="reset"] {
    padding:5px 10px;
}
/*---------------------------------- THEME SIDEBAR AREA HIGHLIGHT BOX TABS ACCORDION AREA CSS START ------------------------------------*/
.sidebarArea .zs-highlight-box .zs-tabs-accordion-content {
    color: #a09793;
    padding: 10px;
}
.sidebarArea .zs-highlight-box .zs-tabs-accordion-content h1, .sidebarArea .zs-highlight-box .zs-tabs-accordion-content h2, .sidebarArea .zs-highlight-box .zs-tabs-accordion-content h3, .sidebarArea .zs-highlight-box .zs-tabs-accordion-content h4, .sidebarArea .zs-highlight-box .zs-tabs-accordion-content h5, .sidebarArea .zs-highlight-box .zs-tabs-accordion-content h6 {
    color: #ffffff;
}
.sidebarArea .zs-highlight-box .zs-tabs-accordion-content a, .sidebarArea .zs-highlight-box .zs-tabs-accordion-content a:hover {
    color: #ff6d19;
}
.sidebarArea .zs-highlight-box .zs-tabs-accordion-content hr, .sidebarArea .zs-tabs-accordion-content hr  {
    border-top: 1px solid #323131;
}
.sidebarArea .zs-highlight-box .zs-tabs-accordion-content th {
    background: #363535;
    border-color: #262626;
    color: #fef9fa;
}
.sidebarArea .zs-highlight-box .zs-tabs-accordion-content td {
    background: transparent;
    border-color: #262626;
    color: #a09793;
}
.sidebarArea .zs-highlight-box .zs-tabs-accordion-content form li span input[type="text"], .sidebarArea .zs-highlight-box .zs-tabs-accordion-content form li span textarea, .sidebarArea .zs-highlight-box .zs-tabs-accordion-content form li span select {
    background: #363535;
    border: 1px solid #484545;
    color: #a09793;
    width: 80px;
}
.sidebarArea .zs-highlight-box .zs-tabs-accordion-content form li span select {
    width: 93px;
}
.sidebarArea .zs-highlight-box .zs-tabs-accordion-content form li input[type="submit"], .sidebarArea .zs-highlight-box .zs-tabs-accordion-content form li input[type="reset"] {
    padding: 5px;
}
/*------------------------------------------------------------------ MENU AREA CSS ---------------------------------------------------------------------------*/
.menuContainer {
    padding-top: 20px;
}
#navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    list-style-image: none;
    font-size: 1px;
    line-height: 0;
    width: 100%
}
#navigation li {
    display: block;
    overflow: hidden;
    border-bottom: 1px dotted #332f2d;
    padding: 0;
 background-color:$NavigationBGColor[transparent];
 background-image:$NavigationBGImage[url("images/liststyle.png")];
background-repeat:$NavigationBGRepeat[no-repeat];
background-position:$NavigationBGPosition[left center];
}
#navigation li a {
    display: block;
    line-height: 1.3;
 color:$NavigationAColor[#ffffff];
 font-family:$NavigationFontFamily[Georgia, "Times New Roman", Times, serif];
    font-weight: normal;
    padding: 12px 5px;
    width: 96%;
 font-size:$NavigationFontSize[14px];
    cursor: pointer;
    float: left;
}
#navigation li a span {
    width: 86%;
    float: left;
    overflow: hidden;
    padding: 0 0 0 10px;
    word-wrap: break-word;
}
#navigation li:hover a span, #navigation li.selected a span, #navigation li.active a span {
 color:$NavigationAHoverColor[#ff6d19];
}
#navigation li:hover, #navigation li.selected, #navigation li.active {
 background-image:$NavigationBGSelectedImage[url(images/liststyle1.png)];
background-repeat:$NavigationBGSelectedRepeat[no-repeat];
background-position:$NavigationBGSelectedPosition[left center];
 background-color:$NavigationBGSelectedColor[transparent];
}
#navigation li a em {
    width: 10px;
    float: left;
    height: 10px;
}
#navigation ul li.navArrow a em {
    background: transparent url(images/navArrow.png) no-repeat scroll 0 0;
    display: block;
    float: left;
    height: 9px;
    width: 5px;
    margin-top: 4px;
}
#navigation ul li:hover.navArrow a em, #navigation ul li.active.navArrow a em, #navigation ul li.selected.navArrow a em {
    background: transparent url(images/navArrow1.png) no-repeat scroll 0 0;
}
/*--------------------------------------------------------- SUBMENU AREA CSS -----------------------------------------------------------------------------*/
.submenu {
 background-color:$SubmenuBGColor[#000000];
background-image:$SubmenuBGImage[none];
background-position:$SubmenuBGPosition[top left];
background-repeat:$SubmenuBGRepeat[repeat];
 border-width:$SubmenuBorderWidth[0px];
border-style:$SubmenuBorderStyle[solid];
border-color:$SubmenuBorderColor[#000000];
 border-radius:$SubmenuBorderRadius[0px];
-moz-border-radius:$SubmenuBorderRadius[0px];
-webkit-border-radius:$SubmenuBorderRadius[0px];
-o-border-radius:$SubmenuBorderRadius[0px];
 font-family:$SubmenuFontFamily[Georgia, "Times New Roman", Times, serif];
    width: 200px;
    position: absolute;
    display: block;
    box-shadow: 0 0 1px #716b69;
    -moz-box-shadow: 0 0 1px #716b69;
    -webkit-box-shadow: 0 0 1px #716b69;
    -o-box-shadow: 0 0 1px #716b69;
    -webkit-transition: width 0.5s ease 0s;
    -moz-transition: width 0.5s ease 0s;
    -o-transition: width 0.5s ease 0s;
    -ms-transition: width 0.5s ease 0s;
    transition: width 0.5s ease 0s;
}
.submenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1px;
    line-height: 0;
}
.submenu li {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: none
}
.submenu li a {
 color:$SubmenuTextColor[#ffffff];
 font-size:$SubmenuFontSize[12px];
    text-decoration: none;
    display: block;
    width: 100%;
    line-height: 1.6;
    padding: 6px 0;
    float: left;
    cursor: pointer;
}
.submenu li a:hover {
 color:$SubmenuTextHoverColor[#ff6d19];
background-color:$SubmenuBGHoverColor[#191919];
background-image:$SubmenuBGHoverImage[none];
background-position:$SubmenuBGHoverPosition[top left];
background-repeat:$SubmenuBGHoverRepeat[repeat];
}
.submenu li a span {
    width: 175px;
    float: left;
    padding-left: 5px;
    word-wrap: break-word;
}
.submenu li a em {
    width: 10px;
    float: left;
    height: 10px;
}
.submenu li.navArrow a em {
    background: transparent url(images/navArrow.png) no-repeat scroll center left;
    float: left;
    height: 10px;
    width: 10px;
    margin-top: 5px;
}
.submenu li:hover.navArrow a em {
    background: transparent url(images/navArrow1.png) no-repeat scroll center left;
    float: left;
    height: 10px;
    width: 10px;
    margin-top: 5px;
}