
body {
	background-color: #111111;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 24px;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #404040;
	height: 83px;
	text-align: center;
}

.download {
	height: 150px;
	width: 250px;
	font-size: 40px;
	text-align: center;
	background: #00ff00;
}

.menubar{
	position:fixed;
	top: 80px;
	width: 100%;
	height: 50px ;
	background-color:  #404040;
}

.page{
	position: fixed;
	overflow-y: auto;
	top: 130px;
	bottom: 0px;
	width: 100%;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.titleImg {
	height:60px;
	margin: auto;
}


.content {
	margin-top: 30px;
	margin-left: 90px;
	margin-right: 90px;
	font-size: 20px;
}

.home{
	bottom:0;
	text-align: center;
	font-size: 18px ;
	font-family: Arial, Helvetica, sans-serif;
	width: 100px ;
	height: 50px ;
	color: white;
	background-color:  #404040;
	border: none;
	cursor: pointer;
	padding: 15px;
}

.selected{
	bottom:0;
	text-align: center;
	font-size: 18px ;
	font-family: Arial, Helvetica, sans-serif;
	width: 100px ;
	height: 50px ;
	background-color: #515151;
	color: #00ff00;
	border: none;
	padding: 15px;
}

.team {
	margin-top: 20px;
	color: white;
	height: 250px;
	font-family: Arial, Helvetica, sans-serif;
}

.memberName {
	margin-bottom: 10px;
}

.member {
	float: left;
	max-width: 250px;
	margin: 0;
	height: 200px;
	padding: 1em;
	font-size: 24px;
	text-align: center;
}

.bio {
	margin-left: 260px;
	border-left: 1px solid blue;
	font-size: 20px;
	height: 200px;
	padding: 1em;
	padding-top: 60px; 
	overflow: hidden;
}

.imageTag {
	font-size: 20px;
	height: 200px;
	padding: 1em;
	padding: 20px; 
	text-align: center;
	overflow: hidden;
}
